/* const myDiv = {
    display: "flex",
    justifyContent: "center",
    marginTop: "200px",
  };

  const myform = {
    display: "flex",
    flexDirection: "column",
    gap: "10px",
  };
  const myInput = {
    width: "500px",
  };

  .myDiv {
    display: "flex";
    justify-content: "center";
    margin-top: "200px";
  }
  
  .myform {
    display: "flex";
    flex-direction: "column";
    gap: "10px";
  }
  .myInput {
    width: "500px";
  }
   */